.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--highlight-background-color);
  background-color: var(--background-color)
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* rounded cards */
.cards.rounded {
  & .cards-card-image picture img {
    border-radius: 0.5rem;
  }
}

/** hoist the first anchorcards */
.cards.hoist {

  & ul li a:any-link {
    text-decoration: none; 
    background-color: inherit
  }

  & ul li p {
    text-align: start;
    color: var(--text-color);
  }
}

